.messages
    each types in Object.keys(messages)
        each message in messages[types]
            div(class="uk-alert-"+types uk-alert)
                a(class="uk-alert-close" uk-close)
                p #{message}

.errors
    if errors
        each error, i in errors
            div(class="uk-alert-danger" uk-alert) #{error.msg}