extends ../layouts/auth

block content
    div(class="uk-grid-match auth-grid" uk-grid)
        div(class="uk-width-1-2@m")
            nav(class="uk-navbar-container auth-nav" uk-navbar)
                div(class="uk-navbar-left")
                    ul(class="uk-navbar-nav")
                        li(class="logo")
                            a(href="/") Credstore
                div(class="uk-navbar-right")
                    ul(class="uk-navbar-nav uk-visible@m")
                        li
                            a(href="/") Home
                        li
                            a(href="/login") Login
                        li
                            a(href="/register") Register
            div(class="uk-padding uk-visible@m")
                include ../messages
                img(src="/images/2.png")
            div(class="uk-padding uk-hidden@m")
                include ../messages
                form(class="auth-form small" method="POST" action="/reset-password")
                    input(type="hidden" name="hash_id" value=id)
                    input(type="hidden" name="hash_email" value=hash_email)
                    div(class="uk-margin")
                        div(class="uk-inline")
                            span(class="uk-form-icon" uk-icon="user")
                            input(type="text" class="uk-input" name="email" placeholder="Email Address")
                    div(class="uk-margin")
                        div(class="uk-inline")
                            span(class="uk-form-icon" uk-icon="lock")
                            input(type="password" class="uk-input" name="password" placeholder="New Password")
                    div(class="uk-margin")
                        div(class="uk-inline")
                            span(class="uk-form-icon" uk-icon="lock")
                            input(type="password" class="uk-input" name="confirm_password" placeholder="Confirm Password")
                    div(class="uk-margin")
                        button(type="submit" class="uk-button auth-submit uk-width-1-1") Reset Password
                div(class="uk-width-1-1 uk-position-bottom card-footer")
                    p(class="uk-text-center text-white") Don't have an account? 
                        a(href="/register") click here
        div(class="uk-width-1-2@m uk-padding-small uk-visible@m")
            div(class="auth-card uk-inline")
                form(class="uk-position-center auth-form" method="POST" action="/reset-password")
                    input(type="hidden" name="hash_id" value=id)
                    input(type="hidden" name="hash_email" value=hash_email)
                    div(class="uk-margin")
                        div(class="uk-inline")
                            span(class="uk-form-icon" uk-icon="user")
                            input(type="text" class="uk-input" name="email" placeholder="Email Address")
                        div(class="uk-margin")
                            div(class="uk-inline")
                                span(class="uk-form-icon" uk-icon="lock")
                                input(type="password" class="uk-input" name="password" placeholder="New Password")
                        div(class="uk-margin")
                            div(class="uk-inline")
                                span(class="uk-form-icon" uk-icon="lock")
                                input(type="password" class="uk-input" name="confirm_password" placeholder="Confirm Password")
                    div(class="uk-margin")
                        button(type="submit" class="uk-button auth-submit uk-width-1-1") Reset Password
                div(class="uk-width-1-1 uk-position-bottom card-footer")
                    p(class="uk-text-center text-white") Don't have an account? 
                        a(href="/register") click here