doctype html
html
    head
        title Login - Credstore
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="//fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap")
        link(rel="stylesheet", type="text/css", href="/uikit/css/uikit.min.css")
        link(rel="stylesheet", type="text/css", href="/css/style.css")

        script(src="/jquery/jquery.min.js")
        script(src="/jquery-validation/jquery.validate.min.js")
    body
        include ../overlay
        block content

        script(src="/uikit/js/uikit.min.js")
        script(src="/uikit/js/uikit-icons.min.js")
        script(src="/datatables/js/jquery.dataTables.min.js")
        script(src="/js/script.js")