doctype html
html
    head
        title Login - Credstore
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="//fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap")
        link(rel="stylesheet", type="text/css", href="/uikit/css/uikit.min.css")
        link(rel="stylesheet", type="text/css", href="/css/style.css")
    body
        include ../overlay

        nav(class="uk-navbar-container auth-nav" uk-navbar="mode: click")
                div(class="uk-navbar-left")
                    ul(class="uk-navbar-nav")
                        li(class="logo")
                            a(href="/") Credstore
                div(class="uk-navbar-right")
                    ul(class="uk-navbar-nav uk-visible@m")
                        li
                            a(href="/user/dashboard") Dashboard
                        li
                            a(href="#") Settings
                            div(class="uk-navbar-dropdown")
                                ul(class="uk-nav uk-navbar-dropdown-nav")
                                    li
                                        a(href="/") Profile Settings
                                    li
                                        a(href="/") Security Settings
                        li
                            a(href="/logout") Logout
                    ul(class="uk-navbar-nav uk-hidden@m")
                        li 
                            a(href="#sidebar" uk-toggle uk-icon="menu")
        div(id="sidebar" uk-offcanvas="mode: push; overlay: true")
            div(class="uk-offcanvas-bar")
                button(class="uk-offcanvas-close" type="button" uk-close)
                h3 title
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        block content

        footer
            div(class="uk-padding")
                p(class="uk-text-center footer-text") Powered by Avistha

        script(src="/uikit/js/uikit.min.js")
        script(src="/uikit/js/uikit-icons.min.js")
        script(src="/js/script.js")