extends ./layouts/site

block content

    div(class="")
        div(class="uk-width-2-3 home-card uk-align-center uk-position-center")
            nav(class="uk-navbar-container site-nav" uk-navbar)
                    div(class="uk-navbar-left")
                        ul(class="uk-navbar-nav")
                            li(class="logo")
                                a(href="/") Credstore
                    div(class="uk-navbar-right")
                        ul(class="uk-navbar-nav uk-visible@m")
                            li
                                a(href="/") Home
                            if user
                                li
                                    a(href="/user/dashboard") Dashboard
                            else
                                li
                                    a(href="/login") Login
                                li
                                    a(href="/register") Register
                        ul(class="uk-navbar-nav uk-hidden@m")
                            li 
                                a(href="#sidebar" uk-toggle uk-icon="menu")
                        
            div(id="sidebar" uk-offcanvas="mode: push; overlay: true")
                div(class="uk-offcanvas-bar")
                    button(class="uk-offcanvas-close" type="button" uk-close)
                    h3 title
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    
            div(class="card-content uk-text-center")
                img(class="site-image uk-visible@m" src="/images/lock.png")
                h1(class="site-title") Welcome to Credstore...!
                p(class="site-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin lacinia est, in tempus augue lacinia vitae. Quisque fermentum aliquam sodales.