html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #0A192F;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.auth-nav {
    background-color: #0A192F !important;
    height: fit-content;
}

.auth-nav .logo a {
    font-family: 'Pacifico', cursive;
    text-transform: none;
    font-size: 25px;
    color: #3F5EFb;
}

.auth-nav .logo a:hover {
    color: #3F5EFb;
}

.auth-nav .uk-navbar-right li a {
    color: #3F5EFb;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: none;
    font-size: 18px;
}

.auth-grid {
    min-height: 100vh;
}

.auth-card {
    background-color: #030D1C;
    height: 100%;
}

.auth-form .uk-input {
    background-color: transparent;
    border: 2px solid #3F5EFb;
    border-radius: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color: #3F5EFb;
}

.auth-form .uk-form-icon svg {
    margin-left: 10px;
    color: #3F5EFb;
}

.auth-form .auth-submit {
    color: #FFFFFF;
    background-color: #3F5EFb;
    border-radius: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.text-white {
    color: #FFFFFF;
}

.auth-form.small .uk-inline {
    width: 100%;
}

/* Footer */
.footer-text {
    color: #3F5EFb;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}


/* Dashboard styles */
.dashboard h1.title {
    color: #3F5EFb;
    font-family: 'Josefin Sans', sans-serif;
}

.dashboard .title-label {
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

.dashboard .dcard {
    width: 140px;
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
}

.dashboard .dcard .dcard-body {
    width: inherit;
    height: inherit;
}

.dashboard .dcard.categories {
    background-image: url('/images/categories/9.jpg')
}

.dashboard .dcard.credentials {
    background-image: url('/images/categories/4.jpg')
}

.dashboard .dcard.websites {
    background-image: url('/images/categories/5.jpg')
}

.dashboard .dcard.notes {
    background-image: url('/images/categories/3.jpg')
}

.dashboard .dcard .dcard-title {
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
}

.dashboard .dcard-label {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

/* Notifications */
#messages ul {
    list-style-type: none;
}

#messages ul li {
    padding: 10px 10px 10px 20px;
    margin: 5px;
}

#messages ul.success li {
    background-color: #1db333;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

#messages ul.danger li {
    background-color: #b3361d;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

#messages ul.error li {
    background-color: #b3361d;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

#messages ul.warning li {
    background-color: #e6b207;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

#messages ul.info li {
    background-color: #09b6e6;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

/* Registered Page */
.registered h2 {
    color: #3F5EFb;
    font-family: 'Josefin Sans', sans-serif;
}

.registered p {
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.registered span {
    color: #3F5EFb;
}

/* Loader Style */
#overlay {
    background-color: #030D1C;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
}
#overlay .logo {
    color: #3F5EFb;
    font-family: 'Pacifico', cursive;
}
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #3F5EFb;
    font-size: 10px;
    margin: 0px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

/* End of Loader */


/* Dashboard sidebar */
.auth-nav .uk-navbar-dropdown {
    background-color: #030D1C;
    top: 50px !important;
    padding: 0px;
}
.auth-nav .uk-navbar-dropdown a {
    padding: 10px 10px 10px 20px;
    transition: 0.3s;
}
.auth-nav .uk-navbar-dropdown a:hover {
    background-color: #3F5EFb;
    color: #FFFFFF;
}
/* End of dashboard sidebar */

/* Category Page */

.catlink:hover {
    text-decoration: none;
}

.catcard {
    background-color: #030D1C;
    color: #3F5EFb;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    text-align: left !important;
    text-transform: none;
    border: 0;
    cursor: pointer;
    width: 100%;
}

.caticon {
    padding: 10px;
    color: #FFFFFF;
    background-color: #3F5EFb;
    text-align: center;
    width: 30px;
}

.catname span {
    margin-left: 8px;
    color: #3F5EFb;
}

.catdel button {
    transform: translate(10px, 15px);
    background-color: #a3170d;
    color: #FFFFFF;
    border: 0;
    padding: 6px;
    -webkit-box-shadow: 0px 0px 15px 1px #A3170D; 
    box-shadow: 0px 0px 15px 1px #A3170D;
    border-radius: 5px;
    cursor: pointer;
}

.catadd {
    color: #FFFFFF;
    background-color: #3F5EFb;
    width: 45px;
    height: 45px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 25px;
    -webkit-box-shadow: 5px 5px 15px -7px #000000; 
    box-shadow: 5px 5px 15px -7px #000000;
}

.cat-radio {
    text-align: center;
}

.cat-radio input[type=radio] {
    display:none; 
    margin:10px;
}

/*
    Change the look'n'feel of labels (which are adjacent to radiobuttons).
    Add some margin, padding to label
*/
.cat-radio input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 20px;
    color: #3F5EFb;
    cursor: pointer;
    background-color: #0A192F;
}
/*
    Change background color for label next to checked radio button
    to make it look like highlighted button
*/
.cat-radio input[type=radio]:checked + label { 
    background-image: none;
    background-color:#3F5EFb;
    color: #FFFFFF;
}

#cat-modal .uk-modal-dialog {
    background-color: #030D1C;
}

#cat-modal .uk-modal-title {
    color: #3F5EFb;
}

#cat-modal .cat-form .uk-form-label {
    color: #3F5EFb;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

#cat-modal .cat-form input.cat-input {
    background-color: transparent !important;
    border-color: #3F5EFb;
    font-family: 'Josefin Sans', sans-serif;
    color: #3F5EFb;
}

#cat-modal .icon-div {
    border: 1px solid #3F5EFb;
    height: 350px;
    overflow-y: auto;
}

.cat-submit {
    background-color: #3F5EFb;
    color: #FFFFFF;
}

/* Icon div scroll controller */
/* width */
.icon-div::-webkit-scrollbar {
    width: 10px;
	height: 0px;
    background-color: #030D1C;
}

/* Track */
.icon-div::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
.icon-div::-webkit-scrollbar-thumb {
    background: #3f5efb;
}

/* End of category page */


/* Datatable */

    .dataTables_wrapper label {
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    .dataTables_wrapper select {
        background-color: transparent;
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
        border-color: #3F5EFb;
    }

    .dataTables_wrapper input[type='search'] {
        background-color: transparent;
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
        border: 1px solid #3F5EFb;
    }

    .datatable th {
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 18px;
    }

    table.dataTable tbody tr {
        background-color: transparent !important;
    }

    .datatable tr td {
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    .datatable {
        border-collapse: collapse;
        border: 0 !important;
        padding-top: 20px;
    }

    .datatable, .datatable td, .datatable th {
        border: 1px solid #3F5EFb;
    }

    .dataTables_info {
        color: #3F5EFb !important;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.next {
        color: #3F5EFb !important;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
        background-color: #0A192F !important;
        border: 1px solid #3f5efb;
        background: none !important;
        color: #3F5EFb !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled {
        color: #AAAAAA !important;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
        color: #3F5EFb !important;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover {
        background-color: #0A192F !important;
        border: 1px solid #3f5efb;
        background: none !important;
        color: #3F5EFb !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled {
        color: #AAAAAA !important;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    .dataTables_wrapper .dataTables_paginate a.paginate_button {
        padding: 0px 5px 0px 5px !important;
        color: #AAAAAA !important;
        font-size: 15px;
    }

    .dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
        background: none;
        text-decoration: underline !important;
        color: #AAAAAA !important;
        border: 0 !important;
    }

    .dataTables_wrapper .dataTables_paginate a.paginate_button.current {
        padding: 0px 5px 0px 5px !important;
        color: #3F5EFb !important;
        font-size: 15px;
        background-color: transparent !important;
        background: none;
        border: 0;
        font-weight: bold;
    }

    .dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover {
        background: none;
        text-decoration: underline !important;
        color: #3F5EFb !important;
        border: 0 !important;
    }

/* End of Datatable */

/* Credentials Page */

    a.uk-icon-button.view {
        background-color: #3F5EFb;
        color: #FFFFFF;
        margin-right: 6px;
    }

    a.uk-icon-button.delete {
        background-color: #a3170d;
        color: #FFFFFF;
    }

    .site-card {
        background-color: #030D1C;
    }

    .site-card .site-link {
        max-width: 100%;
        word-wrap: break-word;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        color: #3F5EFb;
    }

    .site-card .sc-name {
        text-align: left;
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
    }

    .site-card .sc-name span {
        margin-right: 10px;
    }

    .site-card-body {
        padding-top: 15px;
    }

    .site-card-body p {
        color: #c7ced9;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 18px;
    }

    .site-card .uk-accordion-title {
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
    }

    .site-card .uk-accordion-title::before {
        filter: invert(100%);
        -webkit-filter: invert(100%);
        border: 1px solid #777;
    }

    .site-cred {
        margin-top: 20px;
    }

    .site-cred .cred-card {
        background-color: #030D1C;
        padding: 5px;
        border-radius: 10px;
        -webkit-box-shadow: 5px 6px 15px -6px #000000; 
        box-shadow: 5px 6px 15px -6px #000000;
    }

    .site-cred .cred-card .cred-card-head table td.icon {
        background-color: #3F5EFb;
        color: #c7ced9;
        padding: 15px;
        border-radius: 7px;
        -webkit-box-shadow: 5px 6px 15px -11px #000000; 
        box-shadow: 5px 6px 15px -11px #000000;
    }

    .site-cred .cred-card .cred-card-head table td.text {
        color: #3F5EFb;
        font-size: 25px;
        font-family: 'Josefin Sans', sans-serif;
        padding-left: 10px;
    }

    .site-cred .cred-card .cred-card-body {
        margin-top: 10px;
    }

    .site-cred .cred-card .cred-card-body table {
        text-align: left;
        word-break: break-all;
    }

    .site-cred .cred-card .cred-card-body table th {
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
    }

    .site-cred .cred-card .cred-card-body table td {
        color: #c7ced9;
        font-family: 'Josefin Sans', sans-serif;
        padding-left: 10px;
    }

    .site-cred .cred-card .cred-card-footer {
        margin-top: 10px;
        padding: 5px;
    }

    /* .site-cred .cred-card .cred-card-footer button {
        background-color: #3F5EFb;
        color: #FFFFFF;
        border-bottom-right-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        -webkit-box-shadow: 5px 6px 15px -11px #000000; 
        box-shadow: 5px 6px 15px -11px #000000;
    } */

    .site-cred .cred-card .cred-card-footer .info-button {
        background-color: #3F5EFb;
        color: #FFFFFF;
        padding: 5px;
        border: 0;
        margin: 2px;
        border-radius: 5px;
        cursor: pointer;
    }

    .site-cred .cred-card .cred-card-footer .edit-button {
        background-color: #e6b207;
        color: #FFFFFF;
        padding: 5px;
        border: 0;
        margin: 2px;
        cursor: pointer;
        border-radius: 5px;
    }

    .site-cred .cred-card .cred-card-footer .delete-button {
        background-color: #a3170d;
        color: #FFFFFF;
        padding: 5px;
        border: 0;
        margin: 2px;
        border-radius: 5px;
        cursor: pointer;
    }

    .cred-modal .uk-modal-dialog {
        background-color: #030D1C;
    }

    .cred-modal .uk-modal-dialog .uk-modal-header {
        background-color: #030D1C;
        border-bottom: 0;
    }

    .cred-modal .uk-modal-dialog .uk-modal-header h2 {
        font-family: 'Josefin Sans', sans-serif;
        color: #3F5EFb;
    }

    .cred-modal .uk-modal-dialog .uk-modal-body .uk-form-label {
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    .cred-modal .uk-modal-dialog .uk-modal-body .uk-input {
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
        background-color: transparent;
        border-color: #3F5EFb;
    }

    .cred-modal .uk-modal-dialog .uk-modal-body .uk-select {
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
        background-color: transparent;
        border-color: #3F5EFb;
    }

    .cred-modal .uk-modal-dialog .uk-modal-body .uk-textarea {
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
        background-color: transparent;
        border-color: #3F5EFb;
        resize: none;
    }

    .cred-modal .uk-modal-dialog .uk-modal-footer {
        background-color: #030D1C;
        border-top: 0;
    }

    .cred-modal .uk-modal-dialog .uk-modal-footer .add-button {
        background-color: #3F5EFb;
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: none;
    }

    .cred-modal .uk-modal-dialog .uk-modal-footer .close-button {
        background-color: #a3170d;
        color: #FFFFFF;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: none;
        margin-right: 5px;
    }

    .view-cred-table {
        border-collapse: collapse;
    }
    
    .view-cred-table, .view-cred-table th, .view-cred-table td {
        border: 1px solid #3F5EFb;
        padding: 5px;
    }

    .view-cred-table th {
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    .view-cred-table td {
        color: #c7ced9;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

/* End of credentials page */


/* Website Page */

    .wbinfo-table {
        border-collapse: collapse;
        text-align: left;
        width: 100%;
    }

    .wbinfo-table, .wbinfo-table th, .wbinfo-table td {
        border: 1px solid #3F5EFb;
        padding: 10px;
    }

    .wbinfo-table th {
        color: #3F5EFb;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    .wbinfo-table td {
        color: #c7ced9;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
    }

    .wbinfo-table .web-url {
        color: #c7ced9;
    }

/* End of Website Page */

/* Notes Page */

.note-card .note-card-body img {
    width: 150px;
    height: 150px;
    padding: 25px;
    background-color: #030D1C;
}

.note-card .note-card-footer {
    margin-top: 10px;
}

.note-card .note-card-footer p {
    color: #c7ced9;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

.note-link:hover {
    text-decoration: none;
}

.note-link:hover p {
    color: #3F5EFb;
}

.note-form input.note-title {
    background-color: #030D1C;
    font-size: 25px;
    height: 70px;
    color: #3F5EFb;
    font-family: 'Josefin Sans', sans-serif;
    border: 0;
}

.note-form input.note-title::placeholder {
    color: #3F5EFb;
}

.note-form .note-content {
    background-color: #030D1C;
    color: #3F5EFb;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    resize: none;
    border: 0;
}

.note-form .note-content::placeholder {
    color: #3F5EFb;
}

.note-form .note-submit {
    background-color: #3F5EFb;
    color: #FFFFFF;
}

.note-content {
    color: #c7ced9;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

/*  End Of Note Page */