html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #0A192F;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.auth-nav {
    background-color: #0A192F !important;
    height: fit-content;
}

.auth-nav .logo a {
    font-family: 'Pacifico', cursive;
    text-transform: none;
    font-size: 25px;
    color: #3F5EFb;
}

.auth-nav .logo a:hover {
    color: #3F5EFb;
}

.auth-nav .uk-navbar-right li a {
    color: #3F5EFb;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: none;
    font-size: 18px;
}

.auth-grid {
    min-height: 100vh;
}

.auth-card {
    background-color: #030D1C;
    height: 100%;
}

.auth-form .uk-input {
    background-color: transparent;
    border: 2px solid #3F5EFb;
    border-radius: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color: #3F5EFb;
}

.auth-form .uk-form-icon svg {
    margin-left: 10px;
    color: #3F5EFb;
}

.auth-form .auth-submit {
    color: #FFFFFF;
    background-color: #3F5EFb;
    border-radius: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.text-white {
    color: #FFFFFF;
}

.auth-form.small .uk-inline {
    width: 100%;
}

/* Footer */
.footer-text {
    color: #3F5EFb;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}


/* Dashboard styles */
.dashboard h1.title {
    color: #3F5EFb;
    font-family: 'Josefin Sans', sans-serif;
}

.dashboard .title-label {
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

.dashboard .dcard {
    width: 140px;
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
}

.dashboard .dcard .dcard-body {
    width: inherit;
    height: inherit;
}

.dashboard .dcard.credentials {
    background-image: url('/images/categories/4.jpg')
}

.dashboard .dcard.websites {
    background-image: url('/images/categories/5.jpg')
}

.dashboard .dcard.notes {
    background-image: url('/images/categories/3.jpg')
}

.dashboard .dcard .dcard-title {
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
}

.dashboard .dcard-label {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}

/* Notifications */
#messages ul {
    list-style-type: none;
}

#messages ul li {
    padding: 10px 10px 10px 20px;
}

#messages ul.success li {
    background-color: #1db333;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

#messages ul.danger li {
    background-color: #b3361d;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

#messages ul.warning li {
    background-color: #e6b207;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

#messages ul.info li {
    background-color: #09b6e6;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}