extends ../layouts/dashboard

block content
    div(class="uk-container dashboard")
        div(class="uk-padding uk-text-center")
            h1(class="title") Credentials
            include ../messages
            div(class="uk-overflow-auto")
                table(class="datatable")
                    thead
                        tr
                            th Name
                            th URL
                            th Actions
                    tbody
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")
                        tr 
                            td Site Name
                            td http://www.google.com
                            td
                                div(class="uk-button-group")
                                    a(href="javascript:void(0);" class="uk-icon-button view" uk-icon="info")
                                    a(href="javascript:void(0);" class="uk-icon-button delete" uk-icon="trash")

    button(class="catadd" uk-tooltip="Add Site" uk-toggle="target: #cat-modal")
        span(uk-icon="plus")