extends ../layouts/dashboard

block content
    div(class="uk-container dashboard")
        div(class="uk-padding uk-text-center")
            h1(class="title") Notes
            include ../messages
            div(class="uk-grid-match" uk-grid)
                each note, i in notes
                    div(class="uk-width-1-2@s uk-width-1-4@m")
                        a(href="/user/notes/"+note._id class="note-link")
                            div(class="note-card uk-text-center")
                                div(class="note-card-body")
                                    img(src="/images/note.svg")
                                div(class="note-card-footer")
                                    p #{note.title}
    a(href="/user/notes/add")
        button(class="catadd" uk-tooltip="Add Note")
            span(uk-icon="plus")